[submodule "sqlite/auroravfs"]
	path = sqlite/auroravfs
	url = https://github.com/etsal/sqlite-aurora.git
	branch = master
[submodule "sqlite/tatp"]
	path = sqlite/tatp
	url = https://github.com/etsal/sqlite-tatp.git
	branch = main
[submodule "sqlite/db_bench"]
	path = sqlite/db_bench
	url = https://github.com/etsal/sqlite-bench.git
	branch = master
[submodule "sqlite/sqlite"]
	path = sqlite/sqlite
	url = https://github.com/sqlite/sqlite.git
[submodule "FlameGraph"]
	path = FlameGraph
	url = https://github.com/brendangregg/FlameGraph.git
[submodule "aurora-memsnap"]
	path = aurora-memsnap
	url = https://github.com/etsal/aurora.git
	branch = memsnap
[submodule "aurora-original"]
	path = aurora-original
	url = https://github.com/etsal/aurora.git
	branch = original
