rocksdb-skylake4/data
rocksdb-file/data
rocksdb/data
sqlite/data
redis/data
lmdb/data

rocksdb-skylake4/aurora.log
rocksdb-file/aurora.log
rocksdb/aurora.log
redis/aurora.log
lmdb/aurora.log
sqlite/aurora.log
sqlite/report/report.pdf

rocksdb-skylake4/rocksdb
rocksdb-file/rocksdb
rocksdb/rocksdb
redis/redis
redis/binaries
lmdb/lmdb

postgres/postgres
postgres/data

persistence-benchmarks/redis/redis
persistence-benchmarks/sqlite/sqlite
persistence-benchmarks/rocksdb/rocksdb
persistence-benchmarks/postgres/postgres

persistence-benchmarks/redis/data
persistence-benchmarks/sqlite/data
persistence-benchmarks/rocksdb/data
persistence-benchmarks/postgres/data

microbench/checkpoint
microbench/delta
microbench/directio
microbench/memsnap
microbench/multimemsnap
microbench/multisas
microbench/wal

**/*.swp
**/appendonlydir

vm-microbench/vmobject
*.pdf
__pycache__
