#!/bin/sh

#===============================================
#		SLOS BACKEND
#===============================================

# Used for the SLOS for non-transparent checkpointing
CKPTDISKS="$DISK1 $DISK2"

# Path for the SLOS
CKPTSTRIPE="st0"
DISKPATH="/dev/stripe/st0"

#===============================================
#		COMMON
#===============================================

ALLDISKS="$DISK1 $DISK2"

SRCROOT=$PWD/../aurora-memsnap
OLDAUR=$PWD/../aurora-original
ROCKSDIR="$PWD/rocksdb"

# Log used when running benchmarks
LOG="$PWD/aurora.log"

# Directory in which data for all benchmarks will be sent to. 
OUT="$PWD/data"

# Location where we mount Aurora
MNT="/testmnt"

# Checkpointing frequency and backend
MIN_FREQ=10

# RocksDB Benchmark Values
ROCKSDB_NUM=20000000
ROCKSDB_DUR=15

MAX_ITER=0

BASEDB_BENCH_ARGS=" \
	--benchmarks=fillbatch,mixgraph \
	--use_direct_io_for_flush_and_compaction=true \
	--use_direct_reads=true \
	--key_dist_a=0.002312 \
	--key_dist_b=0.3467 \
	--keyrange_dist_a=14.18 \
	--keyrange_dist_b=0.3467 \
	--keyrange_dist_c=0.0164 \
	--keyrange_dist_d=-0.08082 \
	--keyrange_num=30 \
	--value_k=0.2615 \
	--value_sigma=25.45 \
	--iter_k=2.517 \
	--iter_sigma=14.236 \
	--mix_get_ratio=0.83 \
	--mix_put_ratio=0.14 \
	--mix_seek_ratio=0.03 \
	--sine_mix_rate_interval_milliseconds=5000 \
	--sine_a=1000 \
	--sine_b=0.000073 \
	--sine_d=4500 \
	--perf_level=2 \
	--key_size=48 \
	--db=/tmp-db \
	--wal_dir=/wal \
	--histogram=1 \
	--threads=12 \
	--cache_size=$(( 256 << 20)) \
	--num=$ROCKSDB_NUM \
	--duration=$ROCKSDB_DUR \
"
