#!/bin/sh

# Paths to default install for pgsql bins
PATH=$PATH:/usr/local/pgsql/bin

SRCROOT=/root/sls
DBNAME="test"
SERVERLOG="/home/postgres/server.log"
VMFREQ=60000
FREQ=100

# Default database size is 16MiB for pgbench, with a scale factor
DBSIZE_1GB=64
DBSIZE_2GB=128
DBSIZE_4GB=256
DBSIZE_8GB=512
DBSIZE_16GB=1024

OUT=$PWD/data
LAST=$OUT/last.log

LOG="/aurora.log"
